body{
  text-align: center;
  justify-content: center;
}
.nav{
  padding: 10px;
  background-color: blue;

}
.nav a{
  font-size: 30px;
    text-decoration: none;
    color: black;
}
.nav a:hover{
    color: red;
}
.box{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}
.card:hover{
  background-color: lightgray;
}
