body{
  text-align: center;
  justify-content: center;
}
.navbar{
 display: flex;
 list-style-type: none;
 background-color: #cccccc;
 padding: 1rem;
}
.navbar li{
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.navbar a{
  text-decoration: none;
  
}
.navbar a li:hover{
  color: black;
}
.box{
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}
.card:hover{
  background-color: lightgray;
}
